.input-box {
  position: absolute;
  top: 10px;
  z-index: 999;
  width: calc(40% - 40px);

  > input {
    width: 100%;
    border: none;
    height: 30px;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 8px;
    padding: 4px 12px;
    font-size: 14px;
  }

  > input:focus {
    outline: none;
    border: 2px solid hsl(0, 0%, 80%); /* custom border color */
    box-shadow: 0 0 5px hsl(0, 0%, 80%); /* optional glow */
  }
}
